{{ define "form" }}
<div class="logo"><b>氏</b>スケジューラ</div>
<div id="step1" class="box">
  <div class="content">
    <h1><b>Step 1</b>イベント名</h1>
    <p>今期もお疲れ様でした飲み会、打ち合わせなど</p>
    <input class="nav-input" type="text" rel="step1b" placeholder="ENTERキーを押して続行します..." />
  </div>
</div>
{{ end }}
