{{ define "memo" }}
<div id="step1b" class="box">
  <div class="content">
    <h1>メモ<span class="opt">（任意）</span></h1>
    <p>飲み会の日程調整しましょう！</p>
    <textarea class="nav-input" rel="step2" placeholder="ENTERキーを押して続行します..."></textarea>
  </div>
</div>
{{ end }}
